<p>Chat with us!</p>
<div id="message-container"> </div>
<form id="send-container">
    <input type="text" id="message-input"> <br>
    <button onclick="submit" id="send-button">send</button>
</form>

<a href="/products">Go back</a> <br>
<script>
    localStorage.setItem('userName', '{{ userName }}')
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/chat-realtime.js"></script>