Thank you for shopping with us <br>
Email: {{purchaser}}<br>
Total Amount: {{amount}}$<br>
Purchase code: #{{code}}<br>
Bought at: {{purchase_datetime}}<br>

<br>
<a href="/products">Back to the shop</a><br>