<H1>Welcome back!</H1>
<form action="/auth/login" method="POST">
    <input type="text" name="email" placeholder="Email"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <button onclick="summit">Log me in!</button>
</form>
<a href="/auth/register">I'm new to the site. Register me!</a> <br>
<a href="/api/sessions/github">Log in using github</a> <br>
<a href="/api/sessions/facebook">Log in using facebook</a> <br>
<a href="/api/sessions/google">Log in using google</a> <br>