Send us an Email:

<form action="/mail" method="POST">
    <input type="text" name="subject" aria-invalid="false" placeholder="Subject"><br>
    <textarea rows="5" cols="60" name="message" placeholder="Write us a message..."></textarea><br>
    <button onclick="summit">SEND</button>
</form>
<a href="/products">Back to the shop</a><br>